p {
    color: #015668;
    background: #0D91A1;
    padding: 30px;
    width: 150px;
    height: 50px;
    border: 5px;
    border-style: solid;
    border-color: #7DCE94;
    margin: 40px;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 30px;
  }
  